/* Geral */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

.button{
    display: flex;
    flex-direction: column;
}

/* Botão principal */
#botaoAbrir1 {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#botaoAbrir1:hover {
    background-color: #0056b3;
}

#botaoAbrir2 {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#botaoAbrir2:hover {
    background-color: #0056b3;
}

#botaoAbrir3 {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#botaoAbrir3:hover {
    background-color: #0056b3;
}

/* Janela de detalhes */
#detalhes {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Botão de fechar */
#botaoFechar1 {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

#botaoFechar1:hover {
    background-color: #a71d2a;
}

#botaoFechar2 {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

#botaoFechar2:hover {
    background-color: #a71d2a;
}

#botaoFechar3 {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

#botaoFechar3:hover {
    background-color: #a71d2a;
}
/* Transição */
#detalhes {
    animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -60%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}
