<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo</title>
</head>
<body>
    <h1>Bem-vindo, {{nome}}!</h1>
    <h2>Fazer <a href="/logout">logout</a></h2>
    <br>
    <h2>Carrinho de Compras</h2>
    <form>
            <label for="produto1">Produto 1 - R$ 5,00</label>
            <input type="number" name="produto1" placeholder="Insira a quantidade">

            <label for="produto1">Produto 2 - R$ 5,00</label>
            <input type="number" name="produto2" placeholder="Insira a quantidade">

            <label for="produto1">Produto 3 - R$ 5,00</label>
            <input type="number" name="produto3" placeholder="Insira a quantidade">
    </form>
    <button type="submit">Finalizar Compra</button>
</body>
</html>