<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">
</head>
<body>
    <h1>LOGIN</h1>
    <form method="post">
        <label for="nome">Usuário: </label>
        <input type="text" name="nome">
        <br>

        <label for="senha">Senha: </label>
        <input type="password" name="senha">
        <br>

        <button type="submit">Enviar</button>
    </form>

    {% if not acesso %}
    <h2>Usuário ou senha incorretos</h2>
    {% endif %}
</body>
</html>