<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <link rel="stylesheet" href="{{url_for('static', filename = 'styles.css')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Produtos</title>
</head>

<body>
    <h1>Lista de Produtos - Página {{ page }}</h1>
    <hr>
    <div id="fundo"></div>
    <div id="detalhes">
        <h1 id="nome"></h1>
        <p id="preco"></p>
        <button onclick="fecharDetalhes()" class="bt-fecharDetalhes">Fechar</button>
    </div>
    <ul>
        {% for produto in produtos %}
            <div class="item">
                <li>
                    {{ produto.nome }}
                    <button onclick="verDetalhes('{{ produto.nome }}', '{{ produto.preco }}')" class="bt-verDetalhes">
                        Detalhes
                    </button>
                </li>
            </div>
        {% endfor %}
    </ul>
    <div class="navegacao">
        {% if page == 1 %}
            <p>Página {{ page }}</p>
            <a href="/?page={{ page + 1 }}">Próxima Página</a>
        {% elif page == 4 %}
            <a href="/?page={{ page - 1 }}">Página Anterior</a>
            <p>Página {{ page }}</p>
        {% else %}
            <a href="/?page={{ page - 1 }}">Página Anterior</a>
            <p>Página {{ page }}</p>
            <a href="/?page={{ page + 1 }}">Próxima Página</a>
        {% endif %}
    </div>
    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
</body>

</html>